@font-face {
    font-family: opensans;
    src: url('Resources/OpenSans-Regular.ttf');
}

body {
    background: #262626;
    font-family: opensans;

    touch-action: manipulation;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Opera and Firefox */
}

h1 {
    color: white;
    text-align: center;
    margin-top: 400px;
    position: fixed;
}

button {
    background-color: #292929;
    outline-style: none;
    font-family: opensans;
    text-align: center;
    font-size: 25px;
    padding: 10px 0px;
    color: white;
    position: fixed;
    top: 85%;
    left: 44.3%;
}
